*{
    margin: 0 0;
    padding: 0 0;
    font-family: Arial, Helvetica, sans-serif;
}
.menu{
    line-height: 60px;
}
.logo{
    width: 10%;
    float: left;
}
.text-right{
    text-align: right;
}
.text-center{
    text-align: center;
}
.text-left{
    text-align: left;
}
.text-white{
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
}

.clearfix{
    clear: both;
    float: none;
}

.img-bg{
    height: 100%;
    display: block;
}
.prod-des h3{
    font-size: 35px;
    font-weight: bold;
    color: #000000;
}
.amount{
    font-size: 35px;
    font-weight: bold;
    color: black;
}
.btn-bg{
    background: linear-gradient(rgba(97, 78, 120, 0.8),rgba(107, 8, 84, 0.8));
    color: white;
    cursor: pointer;
}
.btn-bg:hover{
    color: white;
    background: linear-gradient(rgba(97, 78, 120, 0.5),rgba(107, 8, 84, 0.5));
}

.menu ul{
    list-style-type: none;
}

.menu ul li{
    display: inline;
    padding: 5px;
    font-weight: bold;
}
a{
    color: rgba(97, 78, 120, 0.8);
    text-decoration: none;
}
a:hover{
    color: rgba(97, 78, 120, 0.8);
}
.pd1-md-5{
    padding-left: 100px;
}
.fa-users{
    color: grey;
}